@import compass
@import normalize


// quick fixes

html, body
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

*
  @include box-sizing(border-box)


body
  background-color: rgb(255,97,30)
  @include filter-gradient(#ff611e, #ff431b, vertical)
  @include background-image(linear-gradient(top,  rgba(255,97,30,1) 0%,rgba(255,67,27,1) 100%))

























































